nav {
  background-color: rgb(241, 211, 166);
 
}
.navBar {
  display: flex;
  justify-content: space-between;
}
header {
  text-align: center;
  background-color: rgb(3, 103, 128);
  color: white;
}
.title {
  margin: 0;
}