nav {
  background-color: #faac64;
 
}
.navBar {
  display: flex;
  justify-content: space-between;
}
header {
  text-align: center;
  background-color: #a3dec9;
  color: white;
}
.title {
  margin: 0;
}
.yourWorkouts {
  background-color:#e6efbf;
  text-align: center;
}
.workout {
  background-color: #4ac3be;
  color: white;
}
.homePage {
  background-color: #e6efbf;
  color: white;
}
body {
  background-color: #4ac3be;
}
.pageTitle {
  background-color:#e6efbf;
  text-align: center;
}