nav {
  background-color: #faac64;
}
.navBar {
  display: flex;
  justify-content: space-between;
}
header {
  text-align: center;
  background-color: #a3dec9;
  color: white;
}
.title {
  margin: 5px;
  font-size: xxx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.workoutsTitle {
  background-color: #e6efbf;
  text-align: center;
  margin: 0;
}
.workoutComment {
  background-color: #e6efbf;
  text-align: center;
  margin: 0;
}

.yourWorkouts {
  background-color: #faac64;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
button {
  width: 120px;
  margin: 1px 110px;
  background-color: #a3dec9;
}
.workouts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.workout {
  background-color: #4ac3be;
  color: white;
  width: 320px;
  height: 300px;
  margin: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.diet {
  background-color: #4ac3be;
  color: white;
  width: 320px;
  height: 700px;
  margin: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homePage {
  background-color: #e6efbf;
  color: black;
  font-weight: 400;
  text-align: center;
}
body {
  background-color: #4ac3be;
}
.pageTitle {
  background-color: #e6efbf;
  text-align: center;
}
.profilePage {
  text-align: center;
}
.profileArticles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.article {
  background-color: #e6efbf;
  text-align: center;
}
img {
  height: 150px;
  max-width: 250px;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.workoutTitle {
  border-bottom: 1px solid black;
}

h6 {
  margin: 0 0 50px 0;
}
